* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: #1F1517;
color: white;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
}

h2 {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.hero {
    background: #181012;
    max-width: 1200px;
    height: 60vh;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
}

.github-link {
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid white;
}

.foto-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}